<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guessing game</title>
</head>
<body>
    {% if not condition %}
        <h1>Think about a number from 0 to 100 and let me guess it!</h1>

        <h2>My guess: {{ guess }} </h2>

        <form action="/" method="POST">
            <input type="submit" name="user_input" value="Too big">
            <input type="submit" name="user_input" value="Too small">
            <input type="submit" name="user_input" value="You win">
            <input type="hidden" name="min" value="{{min}}">
            <input type="hidden" name="max" value="{{max}}">
            <input type="hidden" name="guess" value="{{guess}}">
        </form>
    {% else %}
        <h1>I Won! Your number was {{ guess }}</h1>
    {% endif %}

     {% print(min_num) %}

</body>
</html>